{% extends "layout.html" %}

{% block title %}
    Star Data
{% endblock %}

{% block main %}
    <section class="container">
        <h1>Select Star</h1>
        {% if nearby == "" %}
            <p> {{ message }} </p>
        {% endif %}
        <form action="/stardata" method="post">
            <input list="proper" name="star" placeholder="Sol" type="text">
            <br>
            {% for key in catalogues.keys() %}
                <label><input name="cat" onclick="setDatalist('cat', 'star')" type="radio" value={{ key }}>{{ key }}</label>
            {% endfor %}  
            <br><br>
            <label>Range<input min="0" name="range" placeholder="Enter range (pc)" step="1" type="number" value="10"></label>
            <br>
            <button type="submit">Get Star Information</button>

            {% for key, value in datalists.items() %}    
                <datalist id={{ key }}>
                    {% for item in value %}
                        <option value="{{ item }}">
                    {% endfor %}
                </datalist>
            {% endfor %}
        </form>
    </section>

    {% if star == "" %}
        <section class="container">
            <h2>Catalogue Key</h2>
            {% for key, value in catalogues.items() %}
                <p>{{ key }}: {{ value.name }}</p>
            {% endfor %}   
        </section>
    {% endif %}

    {% if star != "" %}
        <section class="container">
            <h2>Notes</h2>
            <p>{{ star.notes }}</p>
            <form action="/notebook" method="get">
                <input name="star_id" type="hidden" value={{ star.ids.id }}>
                <button type="submit">✎ Edit Star Notes ✎</button>
            </form>  
        </section>
    {% endif %}

    {% if star != "" %}
        <section class="container half left">
            <h2>{{ star.ref }}</h2>
            <hr>
            <h3>Position</h3>
            <table>
                {% for key, value in star.pos.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <table>
                {% for key, value in star.xyz.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br><hr>
            <h3>Magnitude and Spectral Type</h3>
            <table>
                {% for key, value in star.magspec.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br><hr>
            <h3>Catalogue IDs and Possible Habitability</h3>
            <p>Potential Habitable Words: {{ star.habitable }}</p>
            <table>
                {% for key, value in star.ids.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    {% endif %}

    {% if nearby != "" %}
        <section class="container half right">
            <h2>{{ message }}</h2>
            <table>
                <tr>
                    <th>Star</th>
                    <th>Distance (pc)</th>
                </tr>
                {% for item in nearby %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ "%.3f" % item[1] }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    {% endif %}

{% endblock %}