a:link {
  color: #fcede6;
  text-decoration: none;
}

a:hover {
  color: #fcede6;
  text-decoration: underline;  
}

a:visited {
  color: #ffe37f;
  text-decoration: none;
}

body {
    background-attachment: scroll;
    background-color: #020a17;
    background-image: url('/static/milkyway.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit, 100%;
    color: #fcede6;
}

body, button, input {
    font-family: Saira Semi Condensed;
    max-width: 100%;
}

button {
    background-color: #fcede6;
    margin: 0.5%;
}

.container {
    background-color: #020a17;
    border-color: #fcede6;
    border-style: solid;

    padding: 1%;
    margin: auto;
    margin-bottom: 1%;
    width: 96%;
}

.half {
    display: inline-grid;
    width: 45%;

    margin-left: 0.8%;
    margin-right: 0.8%;
}

hr{
    width: 96%;
}

h1 {
    font-family: Anta;
}

label {
    font-size: 80%;
}

.left {
    float: left;
}

.right {
    float: right;
}

table, th, td {
    border-collapse: collapse;  
    border-color: #fcede6;
    border-style: solid;
    font-size: clamp(100%, 90%, 80%);
    table-layout: fixed;
    width: 100%
}

textarea {
  max-width: 100%
}

/* Font CSS classes from https://fonts.google.com/ */
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-semi-condensed-thin {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-semi-condensed-extralight {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-semi-condensed-light {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-semi-condensed-regular {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-semi-condensed-medium {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-semi-condensed-semibold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-semi-condensed-bold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-semi-condensed-extrabold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-semi-condensed-black {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}
