{% extends "layout.html" %}

{ % block title % }
    Notebook
{ % endblock %}

{% block main %}
    <section class="container">
        <h1>Update Star Notes: {{ star.ref }}</h1>
        <form action="/notebook" method="post">
            <input name="star_id" type="hidden" value={{ star.ids.id }}>
            <textarea cols="200" id="starnotes" name="starnotes" rows="5">{{ star.notes }}</textarea>
            <br>
            <button type="submit">Update Notes</button>
        </form>
    </section>

    <section class="container">
        <h2>Star IDs</h2>
        {% for key, value in star.ids.items() %}
            <p>{{ key }}: {{ value }}</p>
        {% endfor %}   
    </section>

{% endblock %}